html {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

*, *::after, *::before {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

.splash {
    background-color: white;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: splashScreen;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

.splash h1 {
    text-align: center;
}

@keyframes splashScreen {
    0% {
        background-color: white;
    }

    25% {
        background-color: #333;;
    }

    75% {
        top: 0px;
        background-color: #333;;
    }

    100% {
        top: -100%;
        background-color: #333;;
    }
}


body{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 2rem;
    text-align: center;
}

.scores {
    margin: 2rem;
    display: flex;
    gap: 1rem;
    text-align: center;
}

.choices {
    margin: 2rem;
    display: flex;
    gap: 1rem;
}

.choices > button {
    padding: .5rem;
}

.reset {
    margin: 2rem;
    padding: 0.5rem;
    display: none;
}

.mute {
    margin-top: auto;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    height: 30px;
    width: 30px;
}

.mute img {
    height: 25px;
    transition: all 0.15s;
}

.mute img:hover{
    height: 27px;
}
