@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Patrick Hand SC', sans-serif;
}

.splash {
    background-color: #fff;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    animation-name: splashScreen;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    display: none;
}

@keyframes splashScreen {
    0% {background-color: white;}
    10% {background-color: #333;}
    90% {top: 0px; background-color: #333;}
    100% {top: -100vh; background-color: #333;}
}

.splash-title {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: -100vh;
}

.splash-rock {
    animation-name: splashText;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(1,.02,.43,1.38);

}

.splash-paper {
    animation-name: splashText;
    animation-duration: 1.5s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(1,.02,.43,1.38);
}

.splash-scissors {
    animation-name: splashText;
    animation-duration: 1.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(1,.02,.43,1.38);
}

@keyframes splashText {
    0% {top: -100vh;}
    100% {top: 0vh;}
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: inherit;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: normal;
    text-align: center;
}

.score-section {
    width: inherit;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.score-section .player-label {
    font-size: 2.5rem;
    width: 100px;
}

.player-label.user {
    text-align: right;
}

.player-label.comp {
    text-align: left;
}

.score-section .scores {
    font-size: 3.2rem;
    padding: 0rem 3rem;
    border: 5px dashed black;
    border-radius: 10px;
}

.mute-section {
    width: inherit;
    margin-top: 1rem;
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mute {
    border: none;
    background-color: inherit;
}

.mute img {
    height: 25px;
    transition: all 0.15s;
}

.mute img:hover{
    height: 27px;
}

.game-comments {
    font-size: 2rem;
}

.player-hands{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 12rem;
}

.user-hand {
    /* mirror the comp-hand */
    transform: rotate(90deg);
}

@keyframes user-hand-animation {
    0% {transform: rotate(90deg) translate(0px, 0px);}
    50% {transform: rotate(30deg) translate(-100px, -100px);}
    100% {transform: rotate(90deg) translate(0px, 0px);}
}

.comp-hand {
    transform: rotate(-90deg);
}

@keyframes comp-hand-animation {
    0% {transform: rotate(-90deg) translate(0px, 0px);}
    50% {transform: rotate(-30deg) translate(100px, -100px);}
    100% {transform: rotate(-90deg) translate(0px, 0px);}
}

.reset {
    border: none;
    background-color: inherit;
    margin: auto;
    padding: 0.5rem;
    font-size: 2.5rem;
    display: none;
}

.reset:hover {
    color: rgb(102, 102, 102);
    font-size: 2.7rem;
}

.choices {
    margin-top: auto;
    display: flex;
    gap: 1rem;
}

.choices button {
    background-color: inherit;
    border: none;
    padding: 0.5rem;
    position: relative;
    transition: transform 0.5s;
}

.choices button img {
    width: 100px;
}

.choices button:hover {
    transform: rotate(25deg);
}

@keyframes wave {
    0% {bottom: 0px; transform: rotate(25deg);}
    10% {bottom: 20px; transform: rotate(25deg);}
    25% {transform: rotate(-25deg);}
    40% {transform: rotate(25deg);}
    50% {transform: rotate(0deg);}
    65% {bottom: 20px;}
    75% {bottom: 0px;}
    100% {bottom: 0px;}
}

.choices button:disabled {
    animation-name: none;
    transform: none;
    border: 3px solid white;
}

footer {
    margin-top: 2rem;
    text-align: center;
    padding: 0.7rem;
    width: 100%;
    background-color: #c4c4c4;
}

@media screen and (max-width: 960px) {

    .player-hands {
        margin-top: 4rem;
    }

    .player-hands div img{
        width: 250px;
    }
}

@media screen and (max-width: 740px) {
    .title {
        font-size: 3rem;
    }

    .game-comments {
        font-size: 1.7rem;
    }

    .player-hands {
        margin-top: 4.5rem;
        gap: 4rem;
    }

    .player-hands div img {
        width: 220px;
    }

    .choices button img {
        width: 80px;
    }
    
    .score-section .player-label {
        font-size: 2.2rem;
        width: 100px;
    }
    
    .score-section .scores {
        font-size: 2.5rem;
    }

    @keyframes comp-hand-animation {
        0% {transform: rotate(-90deg) translate(0px, 0px);}
        50% {transform: rotate(-30deg) translate(60px, -60px);}
        100% {transform: rotate(-90deg) translate(0px, 0px);}
    }

    @keyframes user-hand-animation {
        0% {transform: rotate(90deg) translate(0px, 0px);}
        50% {transform: rotate(30deg) translate(-60px, -60px);}
        100% {transform: rotate(90deg) translate(0px, 0px);}
    }
}

@media screen and (max-width: 580px) {
    .title {
        font-size: 2rem;
    }

    .game-comments {
        font-size: 1.2rem;
    }

    .player-hands {
        margin-top: 4.5rem;
        gap: 4rem;
    }

    .player-hands div img {
        width: 180px;
    }

    .choices button img {
        width: 80px;
    }
    
    .score-section .player-label {
        font-size: 1.7rem;
        width: 100px;
    }
    
    .score-section .scores {
        font-size: 2rem;
        border: 4px dashed black;
    }
    
    @keyframes comp-hand-animation {
        0% {transform: rotate(-90deg) translate(0px, 0px);}
        50% {transform: rotate(-30deg) translate(60px, -60px);}
        100% {transform: rotate(-90deg) translate(0px, 0px);}
    }

    @keyframes user-hand-animation {
        0% {transform: rotate(90deg) translate(0px, 0px);}
        50% {transform: rotate(30deg) translate(-60px, -60px);}
        100% {transform: rotate(90deg) translate(0px, 0px);}
    }
}


@media screen and (max-width: 400px) {

    .splash {
        gap: 1rem;
    }

    .splash-title {
        font-size: 2rem;
    }

    .title {
        font-size: 2rem;
    }

    .game-comments {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .player-hands {
        margin-top: auto;
        margin-bottom: 1rem;
        gap: 1rem;
    }

    .player-hands div img {
        width: 120px;
    }

    .choices {
        gap: 0.5rem;
    }

    .choices button img {
        width: 80px;
    }
    
    .score-section .player-label {
        font-size: 1.5rem;
        width: 100px;
    }
    
    .score-section .scores {
        font-size: 2rem;
        padding: 0rem 1rem;
        border: 3px dashed black;
    }

    footer {
        margin-top: 1rem;
    }
    
    @keyframes comp-hand-animation {
        0% {transform: rotate(-90deg) translate(0px, 0px);}
        50% {transform: rotate(-30deg) translate(40px, -40px);}
        100% {transform: rotate(-90deg) translate(0px, 0px);}
    }

    @keyframes user-hand-animation {
        0% {transform: rotate(90deg) translate(0px, 0px);}
        50% {transform: rotate(30deg) translate(-40px, -40px);}
        100% {transform: rotate(90deg) translate(0px, 0px);}
    }
}
